<!DOCTYPE html>
<html>
    <head>
        <title> Divs </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="divs.css">
    </head>
    <body>

        <% for (var i = 1; i <= tamanho;  i++ ) { %>
            <div>
                <%= i %>
            </div>
        <% } %>

    </body>
</html>